.reset-button {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 32px;
}

.medium-select {
    width: 249px;
}

.small-select {
    width: 191px;
}

.large-select {
    width: 320px;
}

.back-icon {
    font-size: 20px;
    color: rgba(126, 133, 142, 0.6);
    margin-left: -23px;
    cursor: pointer;
}
